@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #151515;
}

.bg-gray {
  background-color: hsla(0, 0%, 100%, .16);
}

.search-transition {
  transition: 0.2s ease-out;
}