@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151515;
}

.bg-gray {
  background-color: #212222
}

.text-gray-hover:hover {
  color: rgb(103,103,103);
}

.text-gray {
  color: rgb(103,103,103);
}

.slow-transition {
  transition: 0.2s ease-out;
}
